@CHARSET "UTF-8";

div.figure1a {
	width: 80%;
	border: 1px;
	margin: 0 auto;
}

div.figure1b {
	width: 80%;
	border: 1px;
	align: centre;
}
div.figure1c {
	width: 80%;
	border: 1px;
	align: centre;
}
div.figure1d {
	width: 80%;
	border: 1px;
	align: centre;
}
div.figure1e {
	width: 80%;
	border: 1px;
	align: centre;
}
div.figure1f {
	width: 80%;
	border: 1px;
	align: centre;
}